.calender {
    width: 1200px;
    border: 1px solid gainsboro;
    margin: auto;
    display: flex;
    margin-top: 30px;
    .title {
        flex: 1;
        margin: 0;
        background-color: rgba(226, 159, 99, 0.5);
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 700;
            color: rgb(46, 45, 45);
        }
        input{

        }
        input:-internal-autofill-selected{
            background-color: red;
        }
    }

    .body {
        flex: 4;
        padding: 20px;

        .bodyTitle {
            .monthlist {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                font-size: 30px;
                button {
                    background-color: transparent;
                    border: none;
                    display: inline;
                    margin: 0 20px;
                    color: gray;
                }
                h1{
                    font-weight: 700;
                }
            }
        }
        table {
            width: 100%;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 20px;
            // border: 1px solid gainsboro;
            thead {
                tr {
                    th {
                        width: 14.2857142857%;
                        flex: 1;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 400;
                        color: rgb(156, 153, 153);
                    }
                    th:hover{
                        color: rgb(104, 99, 99);
                        font-weight: bolder;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: 1px solid gainsboro;
                        height: 130px;
                        width: 14.2857142857%;
                        ul{
                            width: 110px;
                            text-overflow: ellipsis;
                            li{
                                overflow:hidden;
                                white-space: nowrap;
                                overflow:hidden; 
                                white-space: nowrap; 
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}